<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AlemonJS Image</title>
    <style>

</style>
    
  

  </head>

  <body>
    <script src='E:/Desktop/v/wuzhe/alemonb/.image/global.js'></script>
    
  <div id="app" class="help">
    <div style="height: 350px"></div>
    <div v-for="val of data" :key="val.group" class="cont-box">
      <div class="help-group">{{ val.group }}</div>
      <div class="help-table">
        <div class="tr">
          <div v-for="item in val.list" :key="item.title" class="td">
            <span :class="'help-icon help-icon-' + item.icon"></span>
            <strong class="help-title">{{ item.title }}</strong>
            <span class="help-desc">{{ item.desc }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      <span>Xiuxian-Plugin @2.2.0 | 柠檬冲水</span>
    </div>
    <div class="copyright">
      <span>基于</span>
      <span class="version">[https://alemonjs.com/]</span>
      <span>开发</span>
    </div>
    <div class="copyright">
      <span>反馈</span>
      <span class="version">806943302 </span>
    </div>
  </div>

    <script>
      const BOT_DIR = `E:\Desktop\v\wuzhe\alemonb`
      const BOT_DATA = JSON.parse(`{}`)
    </script>
    <script>
Vue.createApp({
  setup: () => ({
    data: BOT_DATA
  })
}).mount('#app')
</script>
    <script src='E:/Desktop/v/wuzhe/alemonb/.image/ws.js'></script>
  </body>
  
</html>
